In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import warnings 
warnings.filterwarnings("ignore")

In [37]:
STI_data = pd.read_excel(r"J:/@machine learning@/Mini_Projects/05_EDA_Shark_Tank/EDA_Shark_Tank_India.xlsx")
STI_data.head(10).T

,0,1,2,3,4,5,6,7,8,9
episode_number,1,1,1,2,2,2,3,3,3,4
pitch_number,1,2,3,4,5,6,7,8,9,10
brand_name,BluePine Industries,Booz scooters,Heart up my Sleeves,Tagz Foods,Head and Heart,Agro tourism,Qzense Labs,Peeschute,NOCD,Cosiq
idea,Frozen Momos,Renting e-bike for mobility in private spaces,Detachable Sleeves,Healthy Potato Chips,Brain Development Course,Tourism,Food Freshness Detector,Disposable Urine Bag,Energy Drink,Intelligent Skincare
deal,1,1,1,1,0,0,0,1,1,1
pitcher_ask_amount,50.0,40.0,25.0,70.0,50.0,50.0,100.0,75.0,50.0,50.0
ask_equity,5.0,15.0,10.0,1.0,5.0,5.0,0.25,4.0,2.0,7.5
ask_valuation,1000.0,266.67,250.0,7000.0,1000.0,1000.0,40000.0,1875.0,2500.0,666.67
deal_amount,75.0,40.0,25.0,70.0,0.0,0.0,0.0,75.0,20.0,50.0
deal_equity,16.0,50.0,30.0,2.75,0.0,0.0,0.0,6.0,15.0,25.0
deal_valuation,468.75,80.0,83.33,2545.45,0.0,0.0,0.0,1250.0,133.33,200.0
ashneer_present,1,1,1,1,1,1,1,1,1,1
anupam_present,1,1,1,1,1,1,1,1,1,1
aman_present,1,1,1,1,1,1,1,1,1,1
namita_present,1,1,1,1,1,1,1,1,1,1
vineeta_present,1,1,1,1,1,1,1,1,1,1
peyush_present,0,0,0,0,0,0,0,0,0,0
ghazal_present,0,0,0,0,0,0,0,0,0,0
ashneer_deal,1,1,0,1,0,0,0,0,0,0
anupam_deal,0,0,1,0,0,0,0,0,0,1
aman_deal,1,0,0,0,0,0,0,1,0,0
namita_deal,0,0,0,0,0,0,0,0,0,0
vineeta_deal,1,1,1,0,0,0,0,0,1,1
peyush_deal,0,0,0,0,0,0,0,0,0,0
ghazal_deal,0,0,0,0,0,0,0,0,0,0
total_sharks_invested,3,2,2,1,0,0,0,1,1,2
amount_per_shark,25.0,20.0,12.5,70.0,0.0,0.0,0.0,75.0,20.0,25.0
equity_per_shark,5.333333,25.0,15.0,2.75,0.0,0.0,0.0,6.0,15.0,12.5

In [38]:
STI_data.head(5).T

,0,1,2,3,4
episode_number,1,1,1,2,2
pitch_number,1,2,3,4,5
brand_name,BluePine Industries,Booz scooters,Heart up my Sleeves,Tagz Foods,Head and Heart
idea,Frozen Momos,Renting e-bike for mobility in private spaces,Detachable Sleeves,Healthy Potato Chips,Brain Development Course
deal,1,1,1,1,0
pitcher_ask_amount,50.0,40.0,25.0,70.0,50.0
ask_equity,5.0,15.0,10.0,1.0,5.0
ask_valuation,1000.0,266.67,250.0,7000.0,1000.0
deal_amount,75.0,40.0,25.0,70.0,0.0
deal_equity,16.0,50.0,30.0,2.75,0.0
deal_valuation,468.75,80.0,83.33,2545.45,0.0
ashneer_present,1,1,1,1,1
anupam_present,1,1,1,1,1
aman_present,1,1,1,1,1
namita_present,1,1,1,1,1
vineeta_present,1,1,1,1,1
peyush_present,0,0,0,0,0
ghazal_present,0,0,0,0,0
ashneer_deal,1,1,0,1,0
anupam_deal,0,0,1,0,0
aman_deal,1,0,0,0,0
namita_deal,0,0,0,0,0
vineeta_deal,1,1,1,0,0
peyush_deal,0,0,0,0,0
ghazal_deal,0,0,0,0,0
total_sharks_invested,3,2,2,1,0
amount_per_shark,25.0,20.0,12.5,70.0,0.0
equity_per_shark,5.333333,25.0,15.0,2.75,0.0

In [39]:
STI_data.tail(5).T

,112,113,114,115,116
episode_number,34,34,35,35,35
pitch_number,113,114,115,116,117
brand_name,Green Protein,On2Cook,Jain Shikanji,Woloo,Elcare India
idea,Plant-Based Protein,Fastest Cooking Device,Lemonade,Washroom Finder,Carenting for Elders
deal,0,0,1,0,0
pitcher_ask_amount,60.0,100.0,40.0,50.0,100.0
ask_equity,2.0,1.0,8.0,4.0,2.5
ask_valuation,3000.0,10000.0,500.0,1250.0,4000.0
deal_amount,0.0,0.0,40.0,0.0,0.0
deal_equity,0.0,0.0,30.0,0.0,0.0
deal_valuation,0.0,0.0,133.33,0.0,0.0
ashneer_present,1,1,1,1,1
anupam_present,1,1,1,1,1
aman_present,1,1,1,1,1
namita_present,1,1,1,1,1
vineeta_present,1,1,1,1,1
peyush_present,1,1,1,1,1
ghazal_present,1,1,1,1,1
ashneer_deal,0,0,1,0,0
anupam_deal,0,0,1,0,0
aman_deal,0,0,1,0,0
namita_deal,0,0,0,0,0
vineeta_deal,0,0,1,0,0
peyush_deal,0,0,0,0,0
ghazal_deal,0,0,0,0,0
total_sharks_invested,0,0,4,0,0
amount_per_shark,0.0,0.0,10.0,0.0,0.0
equity_per_shark,0.0,0.0,7.5,0.0,0.0

In [40]:
STI_data.shape

(117, 28)

In [41]:
STI_data.sample(5).T

,88,96,83,17,84
episode_number,28,30,26,6,27
pitch_number,89,97,84,18,85
brand_name,Humpy A2,Shades of Spring,Rare Planet,Hecolll,Theka Coffee
idea,Organic Milk Products,Flowers,Handicrafts,Pollution Resistant Fabric,Coffee Products
deal,1,0,1,0,0
pitcher_ask_amount,75.0,300.0,65.0,100.0,50.0
ask_equity,4.0,1.0,1.0,1.0,10.0
ask_valuation,1875.0,30000.0,6500.0,10000.0,500.0
deal_amount,100.0,0.0,65.0,0.0,0.0
deal_equity,15.0,0.0,3.0,0.0,0.0
deal_valuation,666.67,0.0,2166.67,0.0,0.0
ashneer_present,0,1,0,1,0
anupam_present,1,1,1,1,1
aman_present,0,1,0,1,0
namita_present,1,1,1,1,1
vineeta_present,1,1,1,1,1
peyush_present,1,0,1,0,1
ghazal_present,1,0,1,0,1
ashneer_deal,0,0,0,0,0
anupam_deal,0,0,0,0,0
aman_deal,0,0,0,0,0
namita_deal,0,0,1,0,0
vineeta_deal,1,0,0,0,0
peyush_deal,1,0,0,0,0
ghazal_deal,1,0,0,0,0
total_sharks_invested,3,0,1,0,0
amount_per_shark,33.333333,0.0,65.0,0.0,0.0
equity_per_shark,5.0,0.0,3.0,0.0,0.0

In [42]:
STI_data.columns

Index(['episode_number', 'pitch_number', 'brand_name', 'idea', 'deal',
       'pitcher_ask_amount', 'ask_equity', 'ask_valuation', 'deal_amount',
       'deal_equity', 'deal_valuation', 'ashneer_present', 'anupam_present',
       'aman_present', 'namita_present', 'vineeta_present', 'peyush_present',
       'ghazal_present', 'ashneer_deal', 'anupam_deal', 'aman_deal',
       'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal',
       'total_sharks_invested', 'amount_per_shark', 'equity_per_shark'],
      dtype='object')

In [43]:
# Lets knowing the information of the data.
STI_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   episode_number         117 non-null    int64
 1   pitch_number           117 non-null    int64
 2   brand_name             117 non-null    object
 3   idea                   117 non-null    object
 4   deal                   117 non-null    int64
 5   pitcher_ask_amount     117 non-null    float64
 6   ask_equity             117 non-null    float64
 7   ask_valuation          117 non-null    float64
 8   deal_amount            117 non-null    float64
 9   deal_equity            117 non-null    float64
 10  deal_valuation         117 non-null    float64
 11  ashneer_present        117 non-null    int64
 12  anupam_present         117 non-null    int64
 13  aman_present           117 non-null    int64
 14  namita_present         117 non-null    int64
 15  vineeta_present        117 non-null    int64
 16  peyush_present         117 non-null    int64
 17  ghazal_present         117 non-null    int64
 18  ashneer_deal           117 non-null    int64
 19  anupam_deal            117 non-null    int64
 20  aman_deal              117 non-null    int64
 21  namita_deal            117 non-null    int64
 22  vineeta_deal           117 non-null    int64
 23  peyush_deal            117 non-null    int64
 24  ghazal_deal            117 non-null    int64
 25  total_sharks_invested  117 non-null    int64
 26  amount_per_shark       117 non-null    float64
 27  equity_per_shark       117 non-null    float64
dtypes: float64(8), int64(18), object(2)
memory usage: 25.7+ KB

In [44]:
#now we see the statistical parameters of the data,, By using the describe function on the selected columns, we get the mean, std, min, max, 25th percentile, 50th percentile, and 75% percentile values of the columns.
STI_data.describe()

,episode_number,pitch_number,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,...,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,18.735043,59.000000,0.555556,319.854709,5.188034,3852.462479,31.982915,8.963504,467.104872,0.837607,...,0.179487,0.205128,0.239316,0.188034,0.128205,0.230769,0.059829,1.230769,18.132481,5.583590
std,10.070778,33.919021,0.499041,2767.842777,3.892121,11931.601957,36.687391,13.106769,919.988864,0.370397,...,0.385410,0.405532,0.428501,0.392420,0.335756,0.423137,0.238190,1.410457,23.588682,10.803799
min,1.000000,1.000000,0.000000,0.001010,0.250000,0.010000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,30.000000,0.000000,45.000000,2.500000,666.670000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19.000000,59.000000,1.000000,50.000000,5.000000,1250.000000,25.000000,3.000000,100.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,10.000000,1.250000
75%,27.000000,88.000000,1.000000,80.000000,7.500000,2857.140000,50.000000,15.000000,500.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,25.000000,6.000000
max,35.000000,117.000000,1.000000,30000.000000,25.000000,120000.000000,150.000000,75.000000,6666.670000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,100.000000,75.000000

In [45]:
#looking for the data type of the data.
STI_data.dtypes

episode_number             int64
pitch_number               int64
brand_name                object
idea                      object
deal                       int64
pitcher_ask_amount       float64
ask_equity               float64
ask_valuation            float64
deal_amount              float64
deal_equity              float64
deal_valuation           float64
ashneer_present            int64
anupam_present             int64
aman_present               int64
namita_present             int64
vineeta_present            int64
peyush_present             int64
ghazal_present             int64
ashneer_deal               int64
anupam_deal                int64
aman_deal                  int64
namita_deal                int64
vineeta_deal               int64
peyush_deal                int64
ghazal_deal                int64
total_sharks_invested      int64
amount_per_shark         float64
equity_per_shark         float64
dtype: object

In [46]:
#isnull is used to see the weather my data is having null values or not. 
STI_data.isnull().sum()

episode_number           0
pitch_number             0
brand_name               0
idea                     0
deal                     0
pitcher_ask_amount       0
ask_equity               0
ask_valuation            0
deal_amount              0
deal_equity              0
deal_valuation           0
ashneer_present          0
anupam_present           0
aman_present             0
namita_present           0
vineeta_present          0
peyush_present           0
ghazal_present           0
ashneer_deal             0
anupam_deal              0
aman_deal                0
namita_deal              0
vineeta_deal             0
peyush_deal              0
ghazal_deal              0
total_sharks_invested    0
amount_per_shark         0
equity_per_shark         0
dtype: int64

In [47]:
STI_data.corr()

,episode_number,pitch_number,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
episode_number,1.000000,0.998850,-0.214033,-0.069500,-0.077674,-0.070829,-0.187023,-0.114719,-0.146336,-0.342116,...,-0.116462,-0.121671,-0.264855,-0.041819,-0.035758,0.022564,0.229482,-0.121894,-0.157896,-0.073187
pitch_number,0.998850,1.000000,-0.223068,-0.074881,-0.080792,-0.073517,-0.199542,-0.119973,-0.151003,-0.338967,...,-0.117380,-0.129104,-0.272245,-0.053756,-0.028765,0.013214,0.226210,-0.131541,-0.166871,-0.079109
deal,-0.214033,-0.223068,1.000000,-0.106927,-0.076438,-0.151695,0.736002,0.609043,0.409138,-0.020728,...,0.373509,0.454369,0.461369,0.430422,0.342997,0.489898,0.225630,0.759342,0.653882,0.461046
pitcher_ask_amount,-0.069500,-0.074881,-0.106927,1.000000,0.470198,0.911174,-0.080719,-0.067233,-0.045988,0.040759,...,-0.044099,-0.050348,-0.053685,-0.045850,-0.036575,-0.052946,-0.024308,-0.084288,-0.071281,-0.050873
ask_equity,-0.077674,-0.080792,-0.076438,0.470198,1.000000,0.260603,-0.177955,0.288341,-0.310331,-0.047404,...,-0.088782,0.013584,-0.140932,0.027449,0.096837,-0.026575,0.071451,-0.028387,-0.165141,0.238074
ask_valuation,-0.070829,-0.073517,-0.151695,0.911174,0.260603,1.000000,-0.090163,-0.155565,0.017869,0.053817,...,-0.052650,-0.095488,-0.085926,-0.075664,-0.068814,-0.089131,-0.050633,-0.140668,-0.066631,-0.118541
deal_amount,-0.187023,-0.199542,0.736002,-0.080719,-0.177955,-0.090163,1.000000,0.370487,0.636411,-0.026851,...,0.392853,0.335148,0.482279,0.443929,0.315109,0.384539,0.188542,0.695950,0.793392,0.239212
deal_equity,-0.114719,-0.119973,0.609043,-0.067233,0.288341,-0.155565,0.370487,1.000000,-0.082694,-0.093570,...,0.127167,0.267897,0.150735,0.136270,0.359560,0.399927,0.188478,0.432880,0.359031,0.897922
deal_valuation,-0.146336,-0.151003,0.409138,-0.045988,-0.310331,0.017869,0.636411,-0.082694,1.000000,0.018973,...,0.206179,0.219510,0.360149,0.178616,-0.001066,0.138179,-0.002742,0.319298,0.581751,-0.080662
ashneer_present,-0.342116,-0.338967,-0.020728,0.040759,-0.047404,0.053817,-0.026851,-0.093570,0.018973,1.000000,...,0.205939,-0.005886,0.246972,-0.025346,-0.108422,-0.143856,-0.475201,-0.026656,-0.049810,-0.102568
anupam_present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aman_present,-0.342116,-0.338967,-0.020728,0.040759,-0.047404,0.053817,-0.026851,-0.093570,0.018973,1.000000,...,0.205939,-0.005886,0.246972,-0.025346,-0.108422,-0.143856,-0.475201,-0.026656,-0.049810,-0.102568
namita_present,-0.107808,-0.104920,0.065484,0.029396,0.030743,0.042539,0.065587,-0.065976,0.073284,-0.141843,...,-0.001957,0.018596,0.043412,0.155022,-0.051660,0.037427,0.081264,0.073785,0.066861,-0.114103
vineeta_present,0.136628,0.157186,-0.161874,-0.104309,0.068224,-0.032090,-0.082982,0.014315,0.008492,-0.387059,...,-0.127833,-0.108356,-0.234098,-0.150433,0.337100,-0.254899,0.221751,-0.137834,-0.048368,0.028488
peyush_present,0.425047,0.405589,0.084100,0.052044,-0.065365,-0.050228,-0.004062,0.088750,-0.138948,-0.252768,...,0.010581,0.095532,-0.002776,0.073610,-0.194332,0.314426,0.144814,0.122518,-0.037216,0.083101
ghazal_present,0.528721,0.535060,-0.059761,-0.049727,0.035071,-0.060577,-0.057153,0.062931,-0.082732,-0.823754,...,-0.142857,-0.016971,-0.251628,0.005846,0.163984,0.048795,0.471940,0.014639,-0.049405,0.040184
ashneer_deal,-0.116462,-0.117380,0.373509,-0.044099,-0.088782,-0.052650,0.392853,0.127167,0.206179,0.205939,...,1.000000,0.203653,0.311859,0.116921,0.220354,0.219578,-0.024079,0.573341,0.107673,-0.049699
anupam_deal,-0.121671,-0.129104,0.454369,-0.050348,0.013584,-0.095488,0.335148,0.267897,0.219510,-0.005886,...,0.203653,1.000000,0.211158,0.134733,0.185069,0.324617,0.139591,0.609817,0.088905,0.063640
aman_deal,-0.264855,-0.272245,0.461369,-0.053685,-0.140932,-0.085926,0.482279,0.150735,0.360149,0.246972,...,0.311859,0.211158,1.000000,0.294019,0.024582,0.120692,-0.141494,0.549698,0.323914,0.007305
namita_deal,-0.041819,-0.053756,0.430422,-0.045850,0.027449,-0.075664,0.443929,0.136270,0.178616,-0.025346,...,0.116921,0.134733,0.294019,1.000000,0.142601,0.151757,0.247520,0.559506,0.232283,0.024287
vineeta_deal,-0.035758,-0.028765,0.342997,-0.036575,0.096837,-0.068814,0.315109,0.359560,-0.001066,-0.108422,...,0.220354,0.185069,0.024582,0.142601,1.000000,-0.028006,0.442232,0.464893,0.061331,0.113549
peyush_deal,0.022564,0.013214,0.489898,-0.052946,-0.026575,-0.089131,0.384539,0.399927,0.138179,-0.143856,...,0.219578,0.324617,0.120692,0.151757,-0.028006,1.000000,0.203965,0.560000,0.198726,0.311324
ghazal_deal,0.229482,0.226210,0.225630,-0.024308,0.071451,-0.050633,0.188542,0.188478,-0.002742,-0.475201,...,-0.024079,0.139591,-0.141494,0.247520,0.442232,0.203965,1.000000,0.394771,0.004715,0.025510
total_sharks_invested,-0.121894,-0.131541,0.759342,-0.084288,-0.028387,-0.140668,0.695950,0.432880,0.319298,-0.026656,...,0.573341,0.609817,0.549698,0.559506,0.464893,0.560000,0.394771,1.000000,0.293030,0.138429
amount_per_shark,-0.157896,-0.166871,0.653882,-0.071281,-0.165141,-0.066631,0.793392,0.359031,0.581751,-0.049810,...,0.107673,0.088905,0.323914,0.232283,0.061331,0.198726,0.004715,0.293030,1.000000,0.407074
equity_per_shark,-0.073187,-0.079109,0.461046,-0.050873,0.238074,-0.118541,0.239212,0.897922,-0.080662,-0.102568,...,-0.049699,0.063640,0.007305,0.024287,0.113549,0.311324,0.025510,0.138429,0.407074,1.000000

In [48]:
#Q1. Find the number of episodes?
STI_data.groupby('episode_number').count()

,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
episode_number,,,,,,,,,,,,,,,,,,,,,
1,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
2,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
3,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
4,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
5,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
6,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
7,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
8,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
9,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
10,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
11,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
12,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
13,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
14,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
15,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
16,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
17,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
18,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
19,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
20,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
21,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
22,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
23,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
24,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
25,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
26,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
27,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
28,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
29,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
30,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
31,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
32,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
33,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
34,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
35,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3

In [52]:
STI_data.head(2).T

,0,1
episode_number,1,1
pitch_number,1,2
brand_name,BluePine Industries,Booz scooters
idea,Frozen Momos,Renting e-bike for mobility in private spaces
deal,1,1
pitcher_ask_amount,50.0,40.0
ask_equity,5.0,15.0
ask_valuation,1000.0,266.67
deal_amount,75.0,40.0
deal_equity,16.0,50.0
deal_valuation,468.75,80.0
ashneer_present,1,1
anupam_present,1,1
aman_present,1,1
namita_present,1,1
vineeta_present,1,1
peyush_present,0,0
ghazal_present,0,0
ashneer_deal,1,1
anupam_deal,0,0
aman_deal,1,0
namita_deal,0,0
vineeta_deal,1,1
peyush_deal,0,0
ghazal_deal,0,0
total_sharks_invested,3,2
amount_per_shark,25.0,20.0
equity_per_shark,5.333333,25.0

In [83]:
#Q2. Max, min , mean of asked amount,asked equity, asked valuation? 

AEV_min = STI_data[['pitcher_ask_amount' , 'ask_equity' ,'ask_valuation']].min()
AEV_max = STI_data[['pitcher_ask_amount' , 'ask_equity' ,'ask_valuation']].max()
AEV_mean = STI_data[['pitcher_ask_amount' , 'ask_equity' ,'ask_valuation']].mean()
print(AEV_min)
print(AEV_max)
print(AEV_mean)

pitcher_ask_amount    0.00101
ask_equity            0.25000
ask_valuation         0.01000
dtype: float64
pitcher_ask_amount     30000.0
ask_equity                25.0
ask_valuation         120000.0
dtype: float64
pitcher_ask_amount     319.854709
ask_equity               5.188034
ask_valuation         3852.462479
dtype: float64

In [79]:
pd.DataFrame(AEV_min)

                          0
pitcher_ask_amount  0.00101
ask_equity          0.25000
ask_valuation       0.01000

In [81]:
pd.DataFrame(AEV_max)

                           0
pitcher_ask_amount   30000.0
ask_equity              25.0
ask_valuation       120000.0

In [82]:
pd.DataFrame(AEV_mean)

                              0
pitcher_ask_amount   319.854709
ask_equity             5.188034
ask_valuation       3852.462479

In [95]:
#3.Max & Min asked- equity,asked-valuation and asked amount episode-wise?
AEV_min = STI_data.groupby('episode_number')[['pitcher_ask_amount' , 'ask_equity' ,'ask_valuation']].min()

In [96]:
pd.DataFrame(AEV_min)

                pitcher_ask_amount  ask_equity  ask_valuation
episode_number
1                         25.00000        5.00         250.00
2                         50.00000        1.00        1000.00
3                         50.00000        0.25        1875.00
4                         50.00000        4.00         500.00
5                         10.00000        1.00          50.00
6                         45.00000        1.00         500.00
7                         50.00000        1.00         666.67
8                         30.00000        2.50         746.67
9                         50.00000        2.50        1000.00
10                        25.00000        2.00         500.00
11                        30.00000        5.00         300.00
12                        40.00000        3.00         800.00
13                        30.00000        2.00         500.00
14                        45.00000        3.00         900.00
15                         5.00000        3.00         100.00
16                        45.00000        2.00        1071.43
17                        50.00000        3.00         500.00
18                        50.00000        1.00        1250.00
19                        15.00000        1.25         300.00
20                        35.00000        2.00         700.00
21                        35.00000        5.00         470.00
22                        50.00000        2.00        1500.00
23                        30.00000        1.00         600.00
24                        20.00000        8.00         200.00
25                        50.00000        2.00        1250.00
26                        50.00000        1.00         500.00
27                         0.00101        1.00           0.01
28                        50.00000        4.00        1000.00
29                        75.00000        3.00        1500.00
30                        50.00000        1.00         500.00
31                        50.00000        2.00         500.00
32                        35.00000        1.00         583.33
33                        35.00000        1.00         400.00
34                        30.00000        1.00         400.00
35                        40.00000        2.50         500.00

In [98]:
AEV_min = STI_data.groupby('episode_number')[['pitcher_ask_amount' , 'ask_equity' ,'ask_valuation']].max()
pd.DataFrame(AEV_min)

                pitcher_ask_amount  ask_equity  ask_valuation
episode_number
1                             50.0        15.0        1000.00
2                             70.0         5.0        7000.00
3                            100.0         4.0       40000.00
4                             75.0        10.0        1875.00
5                            100.0        20.0       10000.00
6                            100.0        10.0       10000.00
7                            100.0         7.5        7500.00
8                             56.0         7.5        2000.00
9                            100.0         5.0        2000.00
10                            30.0         5.0        1500.00
11                         30000.0        25.0      120000.00
12                            75.0         5.0        1875.00
13                            50.0        10.0        2500.00
14                           100.0         5.0        3333.33
15                            50.0         5.0        1250.00
16                            80.0         7.0        2250.00
17                           150.0        10.0        5000.00
18                           100.0         4.0       10000.00
19                           125.0         8.0       10000.00
20                            65.0         5.0        3250.00
21                           100.0        10.0        1250.00
22                            80.0         5.0        3000.00
23                           100.0         5.0       10000.00
24                            40.0        10.0         500.00
25                           150.0         4.0        7500.00
26                            65.0        10.0        6500.00
27                           100.0        10.0       10000.00
28                            90.0         5.0        1875.00
29                           100.0         5.0        2857.14
30                           300.0        15.0       30000.00
31                            75.0        10.0        3750.00
32                           200.0         7.0        5000.00
33                            40.0        10.0        3500.00
34                           100.0        10.0       10000.00
35                           100.0         8.0        4000.00

In [126]:
#4.Brand names in which 2 ,3 or 4 sharks are invested? 
BN=STI_data[(STI_data['total_sharks_invested'] ==2) |(STI_data['total_sharks_invested'] ==3) | (STI_data['total_sharks_invested'] ==4 )][['brand_name','total_sharks_invested']]

BN = BN.sort_values(by='total_sharks_invested', ascending=False)
BN

                         brand_name  total_sharks_invested
114                   Jain Shikanji                      4
110              Nomad Food Project                      4
85               Watt Technovations                      4
58                          WeSTOCK                      4
38                  The Yarn Bazaar                      4
35                             LOKA                      3
108                      Tweek Labs                      3
91                      Wakao Foods                      3
90         Gold Safe Solutions Ind.                      3
88                         Humpy A2                      3
67                   Hair Originals                      3
64                       Get a Whey                      3
50                    Aas Vidyalaya                      3
44                          Cocofit                      3
36                            Annie                      3
0               BluePine Industries                      3
29                        EventBeep                      3
28                         Meatyour                      3
27                          Nuutjob                      3
32                            Farda                      2
75                     The Sass Bar                      2
2               Heart up my Sleeves                      2
109                          Proxgy                      2
9                             Cosiq                      2
95                     Kabaddi Adda                      2
11                           Bummer                      2
12                      Revamp Moto                      2
18               Raising Superstars                      2
21                     Beyond Snack                      2
66                  The Quirky Nari                      2
22   Vivalyf Innovations- Easy Life                      2
37                        Caragreen                      2
24                            Altor                      2
25                            Ariro                      2
48                        Let's Try                      2
47                     Beyond Water                      2
45                     Bamboo India                      2
1                     Booz scooters                      2
39                The Renal Project                      2

In [127]:
#Q5. Episode wise minimum and maximum of sharks invested?
TSI_MAX = STI_data.groupby('episode_number')[['total_sharks_invested']].max()
pd.DataFrame(TSI_MAX)

                total_sharks_invested
episode_number
1                                   3
2                                   1
3                                   1
4                                   2
5                                   2
6                                   5
7                                   2
8                                   2
9                                   2
10                                  3
11                                  2
12                                  3
13                                  4
14                                  2
15                                  3
16                                  2
17                                  5
18                                  1
19                                  4
20                                  5
21                                  3
22                                  3
23                                  1
24                                  2
25                                  5
26                                  1
27                                  4
28                                  3
29                                  3
30                                  2
31                                  1
32                                  1
33                                  3
34                                  4
35                                  4

In [135]:
TSI_MIN =  STI_data.groupby('episode_number')[['total_sharks_invested']].min()
pd.DataFrame(TSI_MIN)

                total_sharks_invested
episode_number
1                                   2
2                                   0
3                                   0
4                                   0
5                                   0
6                                   0
7                                   0
8                                   1
9                                   0
10                                  3
11                                  0
12                                  0
13                                  2
14                                  0
15                                  1
16                                  0
17                                  0
18                                  0
19                                  0
20                                  0
21                                  1
22                                  0
23                                  0
24                                  0
25                                  0
26                                  0
27                                  0
28                                  0
29                                  0
30                                  0
31                                  0
32                                  0
33                                  0
34                                  0
35                                  0

In [131]:
#Q6. Minimum and Maximum sharks invested in each episode?
SIMM = STI_data.groupby('episode_number')[['amount_per_shark']].agg(['min', 'max'])
SIMM

               amount_per_shark
                            min         max
episode_number
1                     12.500000   25.000000
2                      0.000000   70.000000
3                      0.000000   75.000000
4                      0.000000   37.500000
5                      0.000000   50.000000
6                      0.000000   50.000000
7                      0.000000   50.000000
8                     25.000000   30.000000
9                      0.000000   25.000000
10                     8.333333   10.000000
11                     0.000000   50.000000
12                     0.000000   75.000000
13                    25.000000   35.000000
14                     0.000000   50.000000
15                     0.000017  100.000000
16                     0.000000   37.500000
17                     0.000000   80.000000
18                     0.000000    1.000000
19                     0.000000   15.000000
20                     0.000000   40.000000
21                    17.500000   33.333333
22                     0.000000   20.000000
23                     0.000000   50.000000
24                     0.000000   25.000000
25                     0.000000   50.000000
26                     0.000000   65.000000
27                     0.000000  100.000000
28                     0.000000   33.333333
29                     0.000000   25.000000
30                     0.000000   40.000000
31                     0.000000   75.000000
32                     0.000000   50.000000
33                     0.000000   40.000000
34                     0.000000   10.000000
35                     0.000000   10.000000

In [137]:
#Q7. Brand names who ask for 1 crore and got a deal? 
ONE_CR = STI_data[(STI_data['pitcher_ask_amount'] == 100.0) & (STI_data['total_sharks_invested'] > 0)][['brand_name','total_sharks_invested','deal','deal_amount']]
ONE_CR

             brand_name  total_sharks_invested  deal  deal_amount
12          Revamp Moto                      2     1        100.0
18   Raising Superstars                      2     0        100.0
39    The Renal Project                      2     1        100.0
55                 Otua                      1     1          1.0
64           Get a Whey                      3     1        100.0
71         Namhya Foods                      1     1         50.0
79  Sunfox Technologies                      5     1        100.0
87   Insurance Samadhan                      1     1        100.0

In [141]:
#Q8. Brand names where deal equity is between 0 to 50? 
DE_0TO50 = STI_data[(STI_data['deal_equity'] >0) & (STI_data['deal_equity'] <50)][['brand_name','deal_equity']]
DE_0TO50

              brand_name  deal_equity
0    BluePine Industries        16.00
2    Heart up my Sleeves        30.00
3             Tagz Foods         2.75
7              Peeschute         6.00
8                   NOCD        15.00
..                   ...          ...
106        Colour Me Mad        25.00
108           Tweek Labs        10.00
109               Proxgy        10.00
110   Nomad Food Project        20.00
114        Jain Shikanji        30.00

[62 rows x 2 columns]

In [142]:
#Q9. Find the number of brands participated in each episode? 
NBP = STI_data.groupby('episode_number')[['brand_name']].agg(['count'])
NBP

               brand_name
                    count
episode_number
1                       3
2                       3
3                       3
4                       3
5                       3
6                       3
7                       3
8                       3
9                       3
10                      3
11                      3
12                      3
13                      3
14                      3
15                      3
16                      4
17                      4
18                      4
19                      4
20                      3
21                      3
22                      4
23                      4
24                      3
25                      3
26                      3
27                      4
28                      3
29                      3
30                      4
31                      4
32                      4
33                      4
34                      4
35                      3

In [144]:
#10.How many sharks participated in this show and What were their names?
shark_names = [col.replace('_present', '').capitalize() for col in STI_data.columns if col.endswith('_present')]
print(shark_names)

['Ashneer', 'Anupam', 'Aman', 'Namita', 'Vineeta', 'Peyush', 'Ghazal']

In [148]:
#11.Find appearance of each sharks? 

SA = {}
for column_name in STI_data.columns:
    if "_present" in column_name:
        shark_name = column_name.replace("_present", "").capitalize()
        appearances = STI_data[column_name].sum()  
        SA[shark_name] = appearances
        
SA = pd.DataFrame(list(SA.items()), columns=['Shark_Name', 'Appearance_Count'])
SA

  Shark_Name  Appearance_Count
0    Ashneer                98
1     Anupam               117
2       Aman                98
3     Namita               106
4    Vineeta                66
5     Peyush                88
6     Ghazal                26

In [149]:
#12.How many entrepreneurs were present? 
Entrepreneurs=len(STI_data['brand_name'])
Entrepreneurs

117

In [150]:
#13.Find the total number of amount invested in this show? 
total_investment = STI_data['deal_amount'].sum()
total_investment

3742.00106

In [152]:
#14.Find the equity percent that each sharks gets?

sharks = ['ashneer_deal', 'anupam_deal', 'aman_deal', 'namita_deal', 'vineeta_deal','peyush_deal','ghazal_deal']

shark_equity_total = {}

for column in sharks:
    sharks = column.replace('_deal', '').capitalize()
    total_equity_for_shark = STI_data[column].sum()
    shark_equity_total[sharks] = total_equity_for_shark
total_equity_offered = STI_data['equity_per_shark'].sum()

shark_equity_percent = {}

for shark, total_equity in shark_equity_total.items():
    equity_percent = (total_equity / total_equity_offered) * 100
    shark_equity_percent[shark] = equity_percent
    
shark_equity_percent

{'Ashneer': 3.2145481263776636,
 'Anupam': 3.673769287288758,
 'Aman': 4.286064168503551,
 'Namita': 3.3676218466813617,
 'Vineeta': 2.296105804555474,
 'Peyush': 4.132990448199854,
 'Ghazal': 1.0715160421258878}